<footer>
    <div class="footer_nav">
        <ul>
            <li><a href="https://facebook.com/vitalik.khristov"><img class="footer_nav_facebook" src="~/img/iconcs/facebook-4-24.png" alt="facebook" /></a></li>
            <li><a href="https://linkedin.com/in/khrystov-vitalii-58946b131"><img class="footer_nav_linkedin" src="~/img/iconcs/linkedin-4-24.png" alt="linkedin" /></a></li>
            <li><a href="skype:vitalik_khristov?call"><img class="footer_nav_skype" src="~/img/iconcs/skype-4-24.png" alt="skype" /></a></li>
            <li><a href="https://github.com/VitaliyKhrystov"><img class="footer_nav_github" src="~/img/iconcs/github-10-24.png" alt="github" /></a></li>
            <li><a href="https://celadon-sopapillas-f62575.netlify.app/"><img class="footer_nav_resume" src="~/img/iconcs/resume-link-24.gif" alt="resume" /></a></li>
            <li><a href="mailto: @Config.CompanyEmail"><img class="footer_nav_inbox" src="~/img/iconcs/inbox-8-24.png" alt="inbox" /></a></li>
            <li><a href="tel:@Config.CompanyPhoneShort"><img class="footer_nav_phone" src="~/img/iconcs/phone-30-24.png" alt="phone" /></a></li>
        </ul>
    </div>
    <p class="div-footer">"Vitaliy Khrystov 2022"</p>
</footer>