<header>
    <nav class="header_nav">
        <ul class="header_nav_left">
            <li><a href="/">Home page</a></li>
            <li><a href="/">Contacts</a></li>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li><a asp-controller="Administration" asp-action="ListUsers">Manage Users</a></li>
                <li><a asp-controller="Administration" asp-action="ListRoles">Manage Roles</a></li>
            }
        </ul>
            <ul class="header_nav_right">
                @if (User.Identity.IsAuthenticated)
                {
                    string name = User.Identity.Name;
                    int index = name.IndexOf("@");
                    @if (index > 0)
                    {
                        int interval = name.Length - index;
                        name = name.Remove(index, interval);
                    }
      
                    <li>@name.ToUpper()</li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <input class="header_nav_right_exit" type="submit" name="name" value="Logout" />
                        </form>
                    </li>
                }
                else
                {
                    <li><a class="header_nav_right_login" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a class="header_nav_right_register" asp-controller="Account" asp-action="Register">Register</a></li>
                }
            </ul>
    </nav>
</header>