<header>
    <nav class="header_nav">
            <ul class="header_nav_left">
                <li><a href="/">Home page</a></li>
                <li><a href="/">About us</a></li>
                <li><a href="/">Contacts</a></li>
            </ul>
            <ul>
                <li></li>
            </ul>
    </nav>
</header>