@{
    ViewData["Title"] = "Not Found";
}


<div class="not_found">
    <h2 class="not_found_h1">@ViewBag.ErrorMessage</h2>
    <div class="not_found_home">
        <a class="not_found_home_link" asp-controller="Home" asp-action="Index">Home page</a>
    </div>
</div>
