*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Anek Odia', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}
p {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

label {
    margin-bottom: 0;
}

/*Main*/
.main_container {
    flex: 1 1 auto;
    /*    background-color: #ffff80;*/
    background-color: #c1d5e0;
}

.main {
    margin: 0 50px;
    height: 100%;
    font-size: 1.6rem;
    color: white;
}


/*Header*/

header {
    flex: 0 1 75px;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.header_nav_left,
.header_nav_right {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.header_nav_left a,
.header_nav_right_login,
.header_nav_right_register {
    color: white;
}

.header_nav_left a:hover,
.header_nav_right_login:hover,
.header_nav_right_register:hover {
    color: aqua;
}

.header_nav_right_exit {
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3px 10px 0 10px;
}

.header_nav_right_exit:hover {
    color: aqua;
    border: 1px dashed aqua;
}

li {
    list-style-type: none;
}
.header_nav_left li, .header_nav_right li {
    padding-right: 25px;
}

a {
    text-decoration: none;
}

.nav_facebook,
.nav_linkedin,
.nav_skype,
.nav_github,
.nav_resume,
.nav_inbox,
.nav_phone {
    border-radius: 50%;
}


.nav_facebook:hover,
.nav_linkedin:hover,
.nav_skype:hover,
.nav_github:hover,
.nav_resume:hover,
.nav_inbox:hover,
.nav_phone:hover {
    background-color: #e65100;
}

.nav_phone {
    margin-right: 50px;
}
/*Index*/
.forum {
    margin-top: 40px;
    margin-bottom: 40px;
}

.forum-title {
    text-align: center;
    color: black
}

.forum_add {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 210px;
    text-align: center;
    background-color: blue;
}

.forum_add_topic {
    color: white;
}

.forum_add_topic:hover {
    color:aqua;
}

.forum_topic {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    background-color: black;
}

.forum_topic_hat {
    font-size: 23px;
    border-bottom: 3px solid white;
    text-align: center;
    height: 65px;
}

.forum_topic_hat th:first-child {
    width: 45%;
}

.forum_topic_hat th:nth-child(2) {
    width: 16%;
}

.forum_topic_hat th:last-child {
    width: 17%;
}

.forum_topic_body {
    font-size: 16px;
    height: 50px;
    border: 1px dotted white;
}

.forum_topic_body td {
    text-align: center;
}


.forum_topic_body td:first-child {
    text-align: left;
}


.forum_topic_body_list_reply {
    padding-left: 10px;
    color: white;
}

.forum_topic_body_list_reply:hover {
    color: aqua;
    text-decoration: none;
}

.forum_topic_body_table_nav {
    width: 100%;
}

.forum_topic_body_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.forum_topic_body_nav td:first-child {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: blue;
    padding: 3px 0 2px 0;
}

.forum_topic_body_nav_reply {
    color: white;
}

.forum_topic_body_nav_reply:hover {
     color: aqua;
}

.forum_topic_body_nav td:nth-child(2) {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    padding: 3px 0 2px 0;
}

.forum_topic_body_nav_edit {
    color: black;
}

.forum_topic_body_nav_edit:hover {
    color: blueviolet;
}

.forum_topic_body_nav_form {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: #FA4630;
}

.forum_topic_body_nav_form_submit {
    background-color: inherit;
    border: 0;
    color: white;
    padding: 4px 0;
}

.forum_topic_body_nav_form_submit:hover {
    color: darkblue;
}


/*Register*/

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.register_area {
    background-color: black;
    border-radius: 10px;
    width: 550px;
}

.register_h1 {
    padding-top: 30px;
    text-align: center;
}

.register_email {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 20px;
}

.register_email_label,
.register_password_label,
.register_password_confirm_label {
    font-size: 25px;
}

.register_email_input,
.register_password_input,
.register_password_confirm_input {
    width: 90%;
    border-radius: 10px;
    padding: 3px 5px 0 5px;
}

.register_password,
.register_password_confirm {
    padding: 25px 0 0 20px;
}

.register_submit {
    padding: 25px 0 20px 20px;
}

.register_submit_input {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.register_submit_input:hover {
    color: aqua;
}


/*Login*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.login_area {
   background-color: black;
   border-radius: 10px;
   width: 550px;
}

.login_h1 {
    padding-top: 30px;
    text-align: center;
}

.login_email {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 20px;
}

.login_email_label,
.login_password_label {
    font-size: 25px;
}

.login_email_input,
.login_password_input {
    width: 90%;
    border-radius: 10px;
    padding: 3px 5px 0 5px;
}

.login_password {
    display: flex;
    flex-direction: column;
    padding: 25px 0 0 20px;
}

.login_remember {
    font-size: 25px;
    padding: 25px 0 0 20px;
}

.login_remember label {
    margin-right: 10px;
}

.login_nav {
    padding: 25px 0 25px 20px;
}

.login_nav_submit {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.login_nav_submit:hover {
    color: aqua;
}

.login_nav_register {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
    margin-left: 20px;
    padding: 12px 26px;
}

.login_nav_register:hover {
    color: blueviolet;
}

/*CreateTopic*/
.create_topic {
    margin-top: 40px;
    text-align: center;
    color: black;
}

.topic_add {
    margin: 75px 0 30px 0;
    background-color: black;
    border-radius: 10px;
}

.topic_add_div_short {
    padding: 30px 0 0 30px;
}

.topic_add_div_short label,
.topic_add_div_extension label {
    font-size: 30px;
}

.topic_add_div_short input {
    font-size: 30px;
    width: 80%;
    height: 50px;
    padding: 4px 0 0 10px;
    border-radius: 10px;
}

.topic_add_div_extension {
    padding: 30px 0 0 30px;
}

.topic_add_div_extension textarea {
    font-size: 30px;
    width: 80%;
    min-height: 50px;
    overflow: hidden;
    padding: 4px 10px 0 10px;
    border-radius: 10px;
}

.topic_add_file {
    margin: 20px 0 30px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 53px;
    padding: 0 35px;
    overflow: hidden;
    color: black;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
    border-width: 0;
    border-radius: 10px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
}

.topic_add_file:hover {
    color: aqua;
}

.topic_add_file span {
    padding-top: 10px;
}

.topic_add_div_submit {
    padding: 20px 0 30px 30px;
}

.topic_add_div_submit input {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 210px;
    text-align: center;
    background-color: blue;
    color: white;
}

.topic_add_div_submit input:hover {
    color:aqua;
}

/*Edit Topic*/

.topic-title {
    margin-top: 40px;
    text-align: center;
    color: black;
}

.topic_edit {
    display:flex;
    flex-direction: column;
    margin: 75px 0 30px 0;
    background-color: black;
    border-radius: 10px;
}

.topic_edit_short,
.topic_edit_extension {
    padding: 30px 0 0 30px;
}

.topic_edit_short label,
.topic_edit_extension label {
    font-size: 30px;
}

.topic_edit_short input {
    font-size: 30px;
    width: 80%;
    height: 50px;
    padding: 4px 0 0 10px;
    border-radius: 10px;
}

.topic_edit_extension textarea {
    font-size: 30px;
    width: 80%;
    min-height: 50px;
    overflow: hidden;
    padding: 4px 10px 0 10px;
    border-radius: 10px;
}

.edit_topic_file {
    width: 130px;
    padding: 30px 0 0 30px;
}

.edit_topic_file_image {
    width: 100%;
    border-radius: 10px;
}

.edit_topic_file_delete {
    margin: 20px 0 20px 30px;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    background-color: #FA4630;
    border: 0;
    color: white;
    padding: 5px 0;
}

.edit_topic_file_delete input {
    margin-left: 7px;
}

.edit_topic_file_delete:hover {
    color: darkblue;
}


.edit_topic_add_file {
    display: flex;
    margin: 20px 0 30px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 53px;
    padding: 8px 10px 0 10px;
    overflow: hidden;
    color: black;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
    border-width: 0;
    border-radius: 10px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    min-width: 200px;
}

.edit_topic_add_file:hover {
    color: aqua;
}

.topic_edit_nav {
    padding: 10px 0 30px 30px;
}

.topic_edit_nav_save {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    background-color: blue;
    color: white;
}

.topic_edit_nav_save:hover {
    color: aqua;
}

.topic_edit_nav_back {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
    margin-left: 20px;
    padding: 12px 70px;
}

.topic_edit_nav_back:hover {
    color: blueviolet;
}

/*Create Reply*/
.topic {
    margin: 50px 0 5px 0;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.topic_created {
    font-size: 17px;
    padding: 8px 0 3px 10px;
    border-bottom: 1px solid white;
}

.topic_info {
    display: flex;
    flex-direction: row;
    min-height: 130px;
}

.topic_author {
    width: 23%;
    font-size: 12px;
    padding: 10px 0 0 10px;
    border-right: 1px solid white;
}

.topic_question {
    min-width: 77%;
    color: white;
    background-color: black;
    padding: 5px 0 0 10px;
}

.topic_image {
    width: 20%;
    border-left: 1px solid white;
}


.reply_area {
    background-color: black;
    margin-bottom: 80px;
    min-height: 150px;
    border-radius: 10px
}

.reply_area form {
    padding: 20px 10px 0 10px;
}

.reply_area_text {
    font-size: 25px;
    padding: 2px 10px 0 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.reply_area_text:invalid {
    border: 2px solid red;
}


.reply_nav_submit {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.reply_nav_submit:hover {
    color: aqua;
}

.reply_nav_homepage {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
    margin-left: 20px;
    padding: 12px 13px;
}

.reply_nav_homepage:hover {
    color: blueviolet;
}

.reply_field {
    background-color: black;
    border: 1px solid black;
    margin-bottom: 60px;
}

.reply_field_hat {
    font-size: 23px;
    border-bottom: 3px solid white;
    text-align: center;
    height: 65px;
}

.reply_field_hat th:first-child {
    width: 55%;
    border-right: 1px solid white;
}

.reply_field_hat th:nth-child(2) {
    width: 20%;
    border-right: 1px solid white;
}

.reply_field_hat th:nth-child(3),
.reply_field_hat th:nth-child(4) {
    border-right: 1px solid white;
}

.reply_field_hat th:last-child {
    width: 12%; 
}

.reply_field_body {
    font-size: 16px;
    height: 50px;
    border: 1px dotted white;
}

.reply_field_body td {
    text-align: center;
}

.reply_field_body td:first-child {
    text-align: left;
    padding: 10px;
    border-right: 1px dotted white;
}

.reply_field_body_username {
    border-right: 1px dotted white;
}

.reply_field_body_userdata {
    border-right: 1px dotted white;
}

.reply_field_body_replydata {
    border-right: 1px dotted white;
}

.reply_field_body_table {
    width: 100%;
}

.reply_field_body_action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reply_field_body_action td:first-child {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    padding: 3px 0 2px 0;
}

.reply_field_edit {
    color: black;
}

.reply_field_edit:hover {
    color: blueviolet;
}

.reply_field_form {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: #FA4630;
}

.reply_field_form_submit {
    background-color: inherit;
    border: 0;
    color: white;
    padding: 4px 0;
}

.reply_field_form_submit:hover {
    color: darkblue;
}


/*EditReply*/

.edit_reply {
    margin-top: 40px;
    text-align: center;
    color: black;
}

.edit {
    background-color: black;
    margin: 80px 0;
    border-radius: 10px;
}

.edit_topic {
    font-size: 25px;
    padding: 20px 15px;
    border: 1px solid white;
}

.edit_topic_short,
.edit_topic_extension {
    width: 100%;
}

.edit_form {
    padding: 20px 15px;
}

.edit_form_response {
    font-size: 25px;
    padding: 4px 10px 0 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.edit_form_response:invalid {
    border: 2px solid red;
}

.edit_form_submit {
    margin-top: 25px;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.edit_form_submit:hover {
    color: aqua;
}

.edit_form_back {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
    margin-left: 20px;
    padding: 12px 47px;
}

.edit_form_back:hover {
    color: blueviolet;
}


/*List Roles*/

.listrole_page {
    margin-top: 40px;
    text-align: center;
    color: black;
}

.listRole_createRole {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 210px;
    text-align: center;
    background-color: blue;
    margin-top: 50px;
}

.listRole_createRole_link {
    color: white;
}

.listRole_createRole_link:hover {
    color: aqua;
}

.listRole {
    margin: 40px 0 30px 0;
}

.listRole_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
}

.listRole_box_role {
    flex-grow: 1;
    font-size: 30px;
}

.listRole_box_name {
    width: 70%;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px 5px 0 5px;
}

.listRole_box_action {
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.listRole_box_action_edit {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    margin-right: 20px;
    padding: 3px 0 2px 0;
    color: black;
    width: 100px;
}

.listRole_box_action_edit:hover {
    color: blueviolet;
}

.listRole_box_action_delete_submit {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    background-color: #FA4630;
    border: 0;
    color: white;
    padding: 4px 0;
}

.listRole_box_action_delete_submit:hover {
    color: darkblue;
}

/*Create Role*/

.createRole_page {
    margin-top: 40px;
    text-align: center;
    color: black;
}

.createRole_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 30px 0
}

.createRole {
    background-color: black;
    border-radius: 10px;
    width: 600px;
}

.createRole_name {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.register_email_label {
    font-size: 25px;
}

.register_email_input {
    font-size: 25px;
    width: 90%;
    border-radius: 10px;
    padding: 3px 5px 0 5px;
}

.createRole_submit {
    margin: 20px;
    font-size: 25px;
}

.createRole_submit_input {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.createRole_submit_input:hover {
    color: aqua;
}

.createRole_submit_back {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    margin-left: 20px;
    padding: 12px 45px;
    width: 150px;
    color: black;
}

.createRole_submit_back:hover {
    color: blueviolet;
}


/*Edit Role*/

.edit_role_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.edit_role_h1 {
    color: black;
}

.edit_role {
    margin-top: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 600px;
}

.edit_role_id {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 20px;
}

.edit_role_id_input {
    margin-left: 12px;
    background-color: inherit;
    border: 0;
    color: white;
    width: 450px;
}

.edit_role_name {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 0 20px;
}

.edit_role_name_input {
    margin-left: 12px;
    border-radius: 10px;
    width: 330px;
    padding: 8px 10px 0 10px;
    height: 32px;
}

.edit_role_nav {
    margin: 20px;
    font-size: 25px;
}

.edit_role_nav_submit {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.edit_role_nav_submit:hover {
    color: aqua;
}

.edit_role_nav_cancel {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    margin-left: 20px;
    padding: 12px 45px;
    width: 150px;
    color: black;
}

.edit_role_nav_cancel:hover {
    color: blueviolet;
}

.user_role_list {
    margin: 50px 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 600px;
}

.user_role_list_h2 {
    margin: 20px 0;
    text-align: center;
}

.user_role_list_member {
    font-size: 25px;
    margin: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.user_role_list_member_name {
    padding: 10px 20px;
}

.user_role_list_nav_div {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    background-color: blue;
    margin: 30px 0 20px 20px;
}

.user_role_list_nav_add {
    color: white;
}

.user_role_list_nav_add:hover {
    color: aqua;
}

/*EditUserRole*/

.edit_in_role_manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.edit_in_role_manage_h1 {
    color: black;
}

.edit_in_role_manage_user {
    font-size: 25px;
    margin: 50px 0;
    background-color: black;
    color: white;
    width: 600px;
    border-radius: 10px;
}

.edit_in_role_manage_data {
    margin: 20px;
}

.edit_in_role_manage_user_list {
    margin: 0 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.edit_in_role_manage_user_list_item {
    padding: 10px 10px 5px 10px;
}

.edit_in_role_manage_user_nav {
    margin: 30px 20px 20px 20px;
}

.edit_in_role_manage_user_nav_update {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.edit_in_role_manage_user_nav_update:hover {
    color:aqua;
}

.edit_in_role_manage_user_nav_cancel {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    margin-left: 20px;
    padding: 12px 45px;
    width: 150px;
    color: black;
}

.edit_in_role_manage_user_nav_cancel:hover {
    color: blueviolet;
}

/*ListUsers*/

.list_users_page {
    text-align: center;
    color: black;
    margin-top: 40px;
}

.list_users_add {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 210px;
    text-align: center;
    background-color: blue;
    margin-top: 50px;
}

.list_users_add_link {
    color: white;
}
.list_users_add_link:hover {
    color: aqua;
}

.list_users {
    margin: 40px 0 30px 0;
}

.list_users_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
}

.list_users_item {
    flex-grow: 1;
    font-size: 30px;
}

.list_users_item_id_input {
    width: 70%;
    background-color: inherit;
    color: white;
    border: 0;
}

.list_users_item_name_input {
    width: 70%;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px 5px 0 5px;
}


.list_users_item_nav {
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.list_users_item_nav_edit {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    margin-right: 20px;
    padding: 3px 0 2px 0;
    color: black;
    width: 100px;
}

.list_users_item_nav_edit:hover {
    color: blueviolet;
}

.list_users_item_nav_delete {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    background-color: #FA4630;
    border: 0;
    color: white;
    padding: 4px 0;
}

.list_users_item_nav_delete:hover {
    color: darkblue;
}

/*Edit User*/

.edit_user_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 20px 0;
}

.edit_user_h1 {
    color: black;
}

.edit_user {
    font-size: 25px;
    margin: 50px 0;
    background-color: black;
    color: white;
    width: 600px;
    border-radius: 10px;
}

.edit_user_id {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.edit_user_id_input {
    flex-grow: 1;
    margin-left: 12px;
    border: 0;
    background-color: inherit;
    color: white;
}

.edit_user_name {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.edit_user_name_input {
    flex-grow: 1;
    margin-left: 12px;
    border-radius: 10px;
    padding: 8px 10px 0 10px;
    height: 32px;
}

.edit_user_email {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.edit_user_email_input {
    flex-grow: 1;
    margin-left: 12px;
    border-radius: 10px;
    padding: 8px 10px 0 10px;
    height: 32px;
}



.edit_user_nav {
    margin: 20px;
    font-size: 25px;
}

.edit_user_nav_submit {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.edit_user_nav_submit:hover {
    color: aqua;
}

.edit_user_nav_cancel {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    margin-left: 20px;
    padding: 12px 45px;
    width: 150px;
    color: black;
}

edit_user_nav_cancel:hover {
    color: blueviolet;
}

.edit_user_role_list {
    margin: 20px 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 600px;
}

.edit_user_role_list_h2 {
    margin: 20px 0;
    text-align: center;
}

.edit_user_role_list_member {
    margin: 0 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.edit_user_role_list_member_name {
    padding: 4px 10px 0 10px;
}

.edit_user_role_list_nav_div {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    background-color: blue;
    margin: 30px 0 20px 20px;
}

.edit_user_role_list_nav_add {
    color: white;
}

.edit_user_role_list_nav_add:hover {
    color: aqua;
}


/*ManageUserRole*/
.role_user_manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.role_user_h1 {
    color: black;
}

.role_user {
    font-size: 25px;
    margin: 50px 0;
    background-color: black;
    color: white;
    width: 600px;
    border-radius: 10px;
}

.role_user_data {
    margin: 20px;
}

.role_user_list {
    margin: 0 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.role_user_list_item {
    padding: 10px 10px 5px 10px;
}

.role_user_nav {
    margin: 30px 20px 20px 20px;
}

.role_user_nav_update {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.role_user_nav_update:hover {
    color:aqua;
}

.role_user_nav_cancel {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    margin-left: 20px;
    padding: 12px 45px;
    width: 150px;
    color: black;
}

.role_user_nav_cancel:hover {
    color: blueviolet;
}

/*Footer*/
footer {
    flex: 0 1 50px;
    width: 100%;
    /*    height: 50px;*/
    background-color: black;
    color: white;
    text-align: center;
}

.attribute_error,
.error_submit {
    font-size: inherit;
    color: #F73697;
    margin-left: 20px;
}

.error_submit {
    margin-left: 0;
}

/*Access Denied*/

.access_denied {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.access_denied_img {
    width: 500px;
}

/*Not Found*/

.not_found {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 100px;
    color: black;
}

.not_found_home {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    background-color: blue;
    color: white;
    margin-top: 30px;
}

.not_found_home_link {
   color: white;
}

.not_found_home_link:hover {
    color: aqua;
}


/*Validation error*/
.attribute_error,
.error_submit {
    font-size: inherit;
    color: #F73697;
    margin-left: 20px;
}

.error_submit {
    margin-left: 0;
}
