*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Anek Odia', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}
p {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

label {
    margin-bottom: 0;
}

/*Main*/
.main_container {
    flex: 1 1 auto;
    /* height: auto;*/
    /*  background: rgb(18,19,19);
    background: linear-gradient(313deg, rgba(18,19,19,1) 0%, rgba(131,130,128,1) 100%);*/
    background-color: #ffff80;
}

.main {
    margin: 0 50px;
    height: 100%;
    font-size: 1.6rem;
    color: white;
}


/*Header*/

header {
    flex: 0 1 75px;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.header_nav_left,
.header_nav_right {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.header_nav_left a,
.header_nav_right_login,
.header_nav_right_register {
    color: white;
}

.header_nav_left a:hover,
.header_nav_right_login:hover,
.header_nav_right_register:hover {
    color: aqua;
}


.header_nav_right_exit {
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3px 10px 0 10px;
}

.header_nav_right_exit:hover {
    color: aqua;
    border: 1px dashed aqua;
}

li {
    list-style-type: none;
}
.header_nav_left li, .header_nav_right li {
    padding-right: 25px;
}

a {
    text-decoration: none;
}


/*Index*/

.forum {
    margin-top: 40px;
    margin-bottom: 40px;
}

.forum-title {
    text-align: center;
    color: black
}

.forum_add {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 210px;
    text-align: center;
    background-color: blue;
}

.forum_add_topic {
    color: white;
}

.forum_add_topic:hover {
    color:aqua;
    text-decoration: none;
}

.forum_topic {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    background-color: black;
}

.forum_topic_hat {
    font-size: 23px;
    border-bottom: 3px solid white;
    text-align: center;
    height: 65px;
}

.forum_topic_hat th:first-child {
    width: 45%;
}

.forum_topic_hat th:nth-child(2) {
    width: 16%;
}

.forum_topic_hat th:last-child {
    width: 17%;
}

.forum_topic_body {
    font-size: 16px;
    height: 50px;
    border: 1px dotted white;
}

.forum_topic_body td {
    text-align: center;
}


.forum_topic_body td:first-child {
    text-align: left;
}


.forum_topic_body_list_reply {
    padding-left: 10px;
    color: white;
}

.forum_topic_body_list_reply:hover {
    color: aqua;
    text-decoration: none;
}

.forum_topic_body_table_nav {
    width: 100%;
}

.forum_topic_body_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.forum_topic_body_nav td:first-child {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: blue;
    padding: 3px 0 2px 0;
}

.forum_topic_body_nav_reply {
    color: white;
}

.forum_topic_body_nav_reply:hover {
     color: aqua;
}

.forum_topic_body_nav td:nth-child(2) {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    padding: 3px 0 2px 0;
}

.forum_topic_body_nav_edit {
    color: black;
}

.forum_topic_body_nav_edit:hover {
    color: blueviolet;
}

.forum_topic_body_nav_form {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: #FA4630;
}

.forum_topic_body_nav_form_submit {
    background-color: inherit;
    border: 0;
    color: white;
    padding: 4px 0;
}

.forum_topic_body_nav_form_submit:hover {
    color: darkblue;
}


/*CreateTopic*/

.create_topic {
    margin-top: 40px;
    text-align:center;
    color: black;
}

.topic_add {
    margin: 75px 0 30px 0;
    background-color: black;
    border-radius: 10px;
}

.topic_add_div_short {
    padding: 30px 0 0 30px;
}

.topic_add_div_short label,
.topic_add_div_extension label {
    font-size: 30px;
}

.topic_add_div_short input {
    font-size: 30px;
    width: 70%;
    height: 50px;
    padding: 4px 0 0 10px;
    border-radius: 10px;
}


.topic_add_div_extension {
    padding: 30px 0 0 30px;
}

.topic_add_div_extension textarea {
    font-size: 30px;
    width: 70%;
    min-height: 50px;
    overflow: hidden;
    padding: 4px 10px 0 10px;
    border-radius: 10px;
}

.topic_add_file {
    margin: 20px 0 30px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 53px;
    padding: 0 35px;
    overflow: hidden;
    color: black;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
    border-width: 0;
    border-radius: 10px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
}

.topic_add_file span {
    padding-top: 10px;
}

.topic_add_div_submit {
    padding: 20px 0 30px 30px;
}

.topic_add_div_submit input {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 210px;
    text-align: center;
    background-color: blue;
    color: white;
}

.topic_add_div_submit input:hover {
    color:aqua;
}


/*Create Reply*/

.topic {
    margin: 50px 0 5px 0;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.topic_created {
    font-size: 17px;
    padding: 8px 0 3px 10px;
    border-bottom: 1px solid white;
}

.topic_info {
    display: flex;
    flex-direction: row;
    min-height: 130px;
}

.topic_author {
    width: 23%;
    font-size: 12px;
    padding: 10px 0 0 10px;
    border-right: 1px solid white;
}

.topic_question {
    min-width: 77%;
    color: white;
    background-color: black;
    padding: 5px 0 0 10px;
}

.topic_image {
    width: 20%;
    border-left: 1px solid white;
}


.reply_area {
    background-color: black;
    margin-bottom: 80px;
    min-height: 150px;
    border-radius: 10px
}

.reply_area form {
    padding: 20px 10px 0 10px;
}

.reply_area_text {
    font-size: 25px;
    padding: 0 10px 0 10px;
    width: 100%;
    border-radius: 10px
}

.reply_nav_submit {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: blue;
    color: white;
}

.reply_nav_submit:hover {
    color: aqua;
}

.reply_nav_homepage {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
    margin-left: 20px;
    padding: 12px 13px;
}

.reply_nav_homepage:hover {
    color: blueviolet;
}

.reply_field {
    background-color: black;
    border: 1px solid black;
    margin-bottom: 60px;
}

.reply_field_hat {
    font-size: 23px;
    border-bottom: 3px solid white;
    text-align: center;
    height: 65px;
}

.reply_field_hat th:first-child {
    width: 55%;
    border-right: 1px solid white;
}

.reply_field_hat th:nth-child(2) {
    width: 20%;
    border-right: 1px solid white;
}

.reply_field_hat th:nth-child(3),
.reply_field_hat th:nth-child(4) {
    border-right: 1px solid white;
}

.reply_field_hat th:last-child {
    width: 12%; 
}

.reply_field_body {
    font-size: 16px;
    height: 50px;
    border: 1px dotted white;
}

.reply_field_body td {
    text-align: center;
}

.reply_field_body td:first-child {
    text-align: left;
    padding: 10px;
    border-right: 1px dotted white;
}

.reply_field_body_username {
    border-right: 1px dotted white;
}

.reply_field_body_userdata {
    border-right: 1px dotted white;
}

.reply_field_body_replydata {
    border-right: 1px dotted white;
}

.reply_field_body_table {
    width: 100%;
}

.reply_field_body_action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reply_field_body_action td:first-child {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: greenyellow;
    padding: 3px 0 2px 0;
}

.reply_field_edit {
    color: black;
}

.reply_field_edit:hover {
    color: blueviolet;
}

.reply_field_form {
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-color: #FA4630;
}

.reply_field_form_submit {
    background-color: inherit;
    border: 0;
    color: white;
    padding: 4px 0;
}

.reply_field_form_submit:hover {
    color: darkblue;
}

    /*.forum_topic_body td:nth-child(3),
.forum_topic_body td:nth-child(4) {
    font-size: 12px;
}*/
    /*.header_nav_left a,
.header_nav_right_login,
.header_nav_right_register,
.login_nav_register,
.edit_role_nav_cancel,
.user_role_list_nav_add,
.role_user_nav_cancel,
.edit_user_nav_cancel,
.not_found_home_link {
    color: white;
}
*/
    /*.header_nav_left a:hover,
.header_nav_right_login:hover,
.header_nav_right_register:hover,
.topic_add_div:last-child input:hover,
.topic_edit_div:last-child input:hover,
.forum_add_topic:hover,
.forum_topic_list,
.forum_topic_list_div_a:hover,
.forum_topic_list_edit:hover,
.reply_field_edit:hover,
.reply_nav_homepage:hover,
.reply_nav_submit:hover,
.edit_form_submit:hover,
.register_submit_input:hover,
.login_nav_submit:hover,
.login_nav_register:hover,
.createRole_submit_input:hover,
.listRole_box_action_edit:hover,
.listRole_createRole_link:hover,
.edit_role_nav_submit:hover,
.edit_role_nav_cancel:hover,
.user_role_list_nav_add:hover,
.role_user_nav_update:hover,
.role_user_nav_cancel:hover,
.list_users_add_link:hover,
.list_users_item_nav_edit:hover,
.edit_user_nav_submit:hover,
.edit_user_nav_cancel:hover,
.not_found_home_link:hover {
    color: aqua;
}




.topic_add,
.topic_edit,
.reply,
.register,
.login,
.createRole,
.listRole,
.edit_role,
.user_role_list,
.role_user,
.list_users,
.edit_user {
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    margin: 0 20px;
}

.topic_add_div,
.topic_edit_div {
    margin: 20px 0 15px 20px;
}

.topic_add_div:first-child input,
.topic_edit_div:first-child input {
    width: 50%;
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
}

.topic_add_div textarea,
.topic_edit_div textarea,
.reply_area_text,
.edit_form_response {
    overflow: hidden;
    width: 50%;
    padding: 0 5px;
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
}

.topic_add_div:last-child input,
.topic_edit_div:last-child input {
    border: 5px solid grey;
    background-color: grey;
    border-radius: 10px;
    color: white;
    border-style: inset;
    padding: 5px;
}

.topic_add_file {
    margin: 30px 0 20px 20px;
}

.topic_add_file_upload {
    border: 5px solid grey;
    background-color: inherit;
    border-radius: 10px;
    color: white;
    border-style: inset;
}

.topic_add_div:last-child input{
    padding: 5px 30px;
    background-color: inherit;
}

.topic_add_file_upload:first-child {
    margin-bottom: 10px;
}*/
    /*.forum_add,*/
    /*.list_users_add {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    padding: 8px 0;
    border-radius: 10px;
    width: 210px;
    text-align: center;
    background-color: aqua;
}

.forum_add_topic {
    color: white;
}*/
    /*.forum_topic {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}*/
    /*.forum_topic_title {
    margin-left: 25px;
}

.forum_topic_list {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.forum_topic_list_div {
    padding: 3px 3px 3px 20px;
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    width: 80%;
    color: white;
}

.forum_topic_list_div_a {
    color: white;
}

.forum_topic_list_edit,
.reply_field_edit {
    margin: 0 20px;
    color: white;
}

.forum_topic_list_form_submit,
.reply_field_form_submit,
.login_nav_submit,
.listRole_box_action_delete_submit,
.edit_role_nav_submit,
.role_user_nav_update,
.list_users_item_nav_delete,
.edit_user_nav_submit {
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    background-color: inherit;
    color: white;
    padding: 3px;
}

.forum_topic_list_form_submit:hover,
.reply_field_form_submit:hover,
.listRole_box_action_delete_submit:hover,
.list_users_item_nav_delete:hover {
    color: #F73697;
}*/
    /*Reply*/
    /*.reply{
    display:flex;
    flex-direction:column;
}

.reply_topic,
.reply_field,
.reply_area {
    margin: 20px 20px 0 20px;
}

.reply_field_list {
    display: flex;
    align-items: center;
}

.reply_topic_short,
.reply_topic_extension {
    width: 50%;
    padding: 5px;
}

.reply_topic_extension {
    margin: 20px 0;
    width: 100%;
}

.reply_field_extension,
.listRole_box_name {
    margin: 10px 0;
    width: 80%;
    color: black;
    background-color: white;
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    padding: 5px;
}

.reply_area_text,
.edit_form_response {
    width: 100%;
}

.reply_area_text:invalid,
.edit_form_response:invalid{
    border-color: red;
}

.reply_nav {
    margin: 20px 0 30px 0;
}

.reply_nav_submit,
.reply_nav_homepage,
.edit_form_submit {
    color: white;
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    background-color: transparent;
}


.reply_nav_submit {
    width: 190px;
}
.reply_nav_homepage {
    margin-left: 20px;
    padding: 6px 25px;
}*/
    /*Edit*/
    /*.edit_form_submit {
    margin-top: 30px;
    width: 150px;
}*/
    /*Footer*/
    footer {
        flex: 0 1 50px;
        width: 100%;
        /*    height: 50px;*/
        background-color: black;
        color: white;
        text-align: center;
    }

/*Register*/

/*.register_h1,
.login_h1,
.createRole_h1,
.listRole_h1,
.edit_role_h1,
.user_role_list_h2,
.role_user_h1,
.list_users_h1,
.edit_user_h1 {
    margin: 25px 0 20px 20px;
}

.register_email,
.register_password,
.register_password_confirm,
.login_email,
.login_password,
.createRole_name {
    display: flex;
    flex-direction: column;
    margin: 20px 0 15px 20px;
}

.register_email_input,
.register_password_input,
.register_password_confirm_input,
.login_email_input,
.login_password_input,
.login_nav_register,
.edit_role_name_input,
.edit_role_nav_cancel,
.user_role_list_nav_add,
.role_user_nav_cancel,
.list_users_item_name_input,
.edit_user_name_input,
.edit_user_email_input,
.edit_user_nav_cancel {
    width: 50%;
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
}

.register_submit,
.createRole_submit {
    margin: 30px 0 25px 20px;
}

.register_submit_input,
.createRole_submit_input {
    border: 5px solid grey;
    background-color: grey;
    border-radius: 10px;
    color: white;
    border-style: inset;
    width: 180px;
}*/

/*Login*/
/*.login_remember {
    margin: 20px 0 15px 20px;
}

.login_remember_input {
    margin-left: 10px;
    width: 18px;
    height: 18px;
}

.login_nav {
    margin: 20px 0 15px 20px;
}

.login_nav_submit,
.edit_role_nav_submit,
.role_user_nav_update,
.edit_user_nav_submit {
    width: 180px;
    margin-right: 20px;
}

.login_nav_register,
.edit_role_nav_cancel,
.edit_user_nav_cancel {
    padding: 8px 38px;
}

.login_nav_register:hover,
.edit_role_nav_cancel:hover,
.user_role_list_nav_add:hover,
.role_user_nav_cancel:hover,
.edit_user_nav_cancel:hover {
    text-decoration: none;
}*/

/*Role*/

/*.listRole_createRole {
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    margin: 40px 0 40px 20px;
    text-align: center;
    width: 190px;
}

.listRole_createRole_link,
.list_users_add_link {
    color: white;
}

.listRole_box,
.list_users_item {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 35px 20px;
    justify-content: space-between;
}

.listRole_box_id,
.listRole_box_name {
    margin-bottom: 0;
}

.listRole_box_name {
    width: 100%;
}

.listRole_box_action {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.listRole_box_action_edit {
    color: white;
    margin: 0 20px 7px 0;
}

.edit_role,
.edit_user {
    margin-bottom: 40px;
}

.edit_role_id,
.edit_role_name,
.edit_role_nav,
.edit_user_id,
.edit_user_name,
.edit_user_email,
.edit_user_nav {
    display: flex;
    flex-direction: row;
    margin: 20px 0 15px 20px;
}

.edit_role_id_label,
.edit_role_name_label,
.list_users_item_id_label,
.list_users_item_name_label,
.edit_user_id_label,
.edit_user_name_label,
.edit_user_email_label {
    margin-bottom: 0;
    margin-right: 20px;
}
.edit_role_id_input,
.list_users_item_id_input,
.edit_user_id_input {
    background-color: inherit;
    border: 0;
    color: white;
    width: 70%;
}
.edit_role_name,
.edit_user_name,
.edit_user_email {
    align-items: center;
}
.edit_role_name_input,
.list_users_item_name_input,
.edit_user_name_input,
.edit_user_email_input {
    width: 380px;
    padding-left: 10px;
}
.edit_role_nav,
.edit_user_nav {
    margin-top: 45px;
}
.edit_role_nav_cancel,
.edit_user_nav_cancel {
    width: 180px;
}

.user_role_list {
    margin-bottom: 50px;
}

.user_role_list_member,
.role_user_list {
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    margin: 30px 0 20px 20px;
    padding-left: 10px;
    background-color: white;
    color: black;
    width: 60%;
}
.user_role_list_member_name {
    margin-bottom: 0;
}

.user_role_list_nav_div {
    margin: 35px 0 30px 20px;
}

.user_role_list_nav_add {
    width: auto;
    padding: 10px;
}

.role_user_data{
    margin-left: 20px;
}

.role_user_list{
    display:flex;
    flex-direction: column;
}
.role_user_list_item {
    display: flex;
    flex-direction: row;
}

.role_user_list_item_select{
    margin-right: 10px;
    margin-bottom: 3px;
}

.role_user_nav {
    margin: 35px 0 35px 20px;
}

.role_user_nav_update{
    margin-right: 10px;
}

.role_user_nav_cancel{
   padding: 8px 45px;
}

.list_users_add {
   margin: 30px 0 50px 20px;
}

.list_users_form {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 50px 0;
}

.list_users_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list_users_item {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.list_users_item_id {
    display: flex;
    flex-direction: row;
}
.list_users_item_id_input {
    width: 100%;
}
.list_users_item_name_input {
    width: 425px;
    background-color: white;
}
.list_users_item_nav {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
}
.list_users_item_nav_edit{
    border: 0;
    color: white;
    background-color: inherit;
    margin-right: 20px;
}*/
/*Validation error*/
.attribute_error,
.error_submit {
    font-size: inherit;
    color: #F73697;
    margin-left: 20px;
}

.error_submit {
    margin-left: 0;
}

/*Access Denied*/

.access_denied {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 70px;
}

.access_denied_img{
    width: 500px;
}

/*Not Found*/

.not_found {
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-top: 100px;
}
.not_found_home {
    margin-top: 30px;
}
.not_found_home_link {
    border: 5px solid grey;
    border-style: inset;
    border-radius: 10px;
    padding: 8px 20px;
}