@model TopicField
@{
    ViewData["Title"] = "Add Topic";
}
<form asp-controller="Home" asp-action="Create" method="post">
    <div class="topic_add">
        <div class="topic_add_div">
            <label asp-for="QuestionShort">Topic (short)</label> <span asp-validation-for="QuestionShort" class="attribute_error"></span> <br>
            <input asp-for="QuestionShort" type="text" maxlength="38" /> <br>
            
        </div>
        <div class="topic_add_div">
            <label asp-for="QuestionExtension">Topic (extension)</label> <span asp-validation-for="QuestionExtension" class="attribute_error"></span> <br>
            <textarea rows='1' asp-for="QuestionExtension"></textarea> <br>
        </div>
        <div class="topic_add_div">
            <input type="submit" name="name" value="Add Topic" />
        </div>
    </div>
</form>