@model CreateTopicViewModel
@{
    ViewData["Title"] = "Add Topic";
}


<div class="create_topic">
    <h1 class="create_topic-title">Create New Topic</h1>
</div>


<form asp-controller="Topic" asp-action="CreateTopic" method="post" enctype="multipart/form-data">
    <div class="topic_add">
        <div class="topic_add_div_short">
            <label asp-for="TopicShort">Topic (short)</label> <span asp-validation-for="TopicShort" class="attribute_error"></span> <br>
            <input asp-for="TopicShort" type="text" maxlength="80" /> <br>

        </div>
        <div class="topic_add_div_extension">
            <label asp-for="TopicExtension">Topic (extension)</label> <span asp-validation-for="TopicExtension" class="attribute_error"></span> <br>
            <textarea rows='1' asp-for="TopicExtension"></textarea> <br>
        </div>
        <label class="topic_add_file"> <span>Upload File</span>
            <input class="topic_add_file_upload" type="file" asp-for="UploadFile" accept=".jpg, .jpeg, .png" hidden onchange="uploadFile(this)"/>
        </label>
        <div class="topic_add_div_submit">
            <input type="submit" name="name" value="Add Topic" />
        </div>
    </div>
</form>