@model TopicField;
@{
    ViewData["Title"] = "Edit Page";
    var fileName = Model.ImageName != null ? "Change File" : "Upload File";
    var imagePath = "/img/UserFiles/" + Model.ImageName;
}



<div class="topic-title">
    <h1 class="create_topic-title">Edit Topic</h1>
</div>


<form asp-controller="Topic" asp-action="EditTopic" method="post">
    <div class="topic_edit">
        <div class="topic_edit_short">
            <label asp-for="QuestionShort">Topic (short)</label> <span asp-validation-for="QuestionShort" class="attribute_error"></span> <br>
            <input asp-for="QuestionShort" type="text" maxlength="80" value="@Model.QuestionShort" /> <br>

        </div>
        <div class="topic_edit_extension">
            <label asp-for="QuestionExtension">Topic (extension)</label> <span asp-validation-for="QuestionExtension" class="attribute_error"></span> <br>
            <textarea rows='1' asp-for="QuestionExtension" value="@Model.QuestionExtension"></textarea> <br>
        </div>

        @if (Model.ImageName != null)
        {
            <div class="edit_topic_file">
                <a href="@imagePath"> <img class="edit_topic_file_image" src="@imagePath" alt="Image" /></a>    
            </div>
        }

        <label class="edit_topic_add_file">
            <span> @fileName </span>
            <input class="topic_add_file_upload" type="file" asp-for="ImageName" accept=".jpg, .jpeg, .png" hidden onchange="uploadFile(this)" />
        </label>

        <div class="topic_edit_nav">
            <input class="topic_edit_nav_save" type="submit" value="Save Changes" />
            <a class="topic_edit_nav_back" asp-controller="Home" asp-action="Index">Back</a>
            <input asp-for="Id" hidden />
            <input asp-for="UserId" hidden />
            <input asp-for="TopicData" hidden />
        </div>
    </div>
</form>