@{
    ViewData["Title"] = "Home Page";
}
@model List<TopicField>

<div class="forum">
    <h1 class="forum-title">@Config.CompanyName</h1>
</div>

<div class="forum_add">
    <a class="forum_add_topic" asp-controller="Topic" asp-action="Add">Add new topic</a>
</div>

<div class="forum_topic">
    <p class="forum_topic_title">Topics list</p>
    <ul class="forum_topic_list">
        @foreach (var topic in Model)
        {
            <li class="forum_topic_list_li"><a class="forum_topic_list_li_a" asp-controller="Topic" asp-action="Page" asp-route-id="@topic.Id">@topic.QuestionShort</a></li>
        }

    </ul>
</div>

