@{
    ViewData["Title"] = "Login";
}
@model LoginViewModel

<div class="login">
    <div class="login_area">
        <h1 class="login_h1">Login</h1>
        <div class="attribute_error" asp-validation-summary="All"></div>
        <form class="login_form" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="login_email">
                <label class="login_email_label" asp-for="Email">Email</label>
                <span class="attribute_error" asp-for="Email" asp-validation-for="Email"></span>
                <input class="login_email_input" asp-for="Email" value="admin@ukr.net"/>
            </div>
            <div class="login_password">
                <label class="login_password_label" asp-for="Password">Password</label>
                <span class="attribute_error" asp-validation-for="Password"></span>
                <input class="login_password_input" asp-for="Password" value="Vitalik15!"/>
            </div>
            <div class="login_remember">
                <label class="login_remember_label" asp-for="Remember">Remember </label>
                <input class="login_remember_input" asp-for="Remember" />
            </div>
            <div class="login_nav">
                <input class="login_nav_submit" type="submit" name="name" value="Login" />
                <a class="login_nav_register" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </form>
    </div>
</div>